<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{internal_cisco_spark_integration_description}}">
    <meta name="author" content="Paul Cheek">
    <title>Cisco Spark {{internal_cisco_spark_integration_title}} Integration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>

    <br/><br/><br/>
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <div class="text-center">
            <img src="/public/img/CiscoSparkLogo.png" alt="Cisco Spark" style="width: 150px;" />
            <br/><br/>
            <em>{{internal_cisco_spark_integration_title}} Integration</em>
          </div>
          <br/>
          <hr/>
          {{#if user}}
          <div class="text-center">
            Hi {{user.display_name}}!
            <br/>
            <small><a href="/logout">Logout &raquo;</a></small>
            <hr/>
          </div>
          {{/if}}
          {{#if message}}
          <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
          </div>
          {{/if}}
          <br/>
          {{{body}}}
          <br/>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <br/><br/><br/>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
