<div class="text-center">
  {{#if call_email}}
  <div class="page-call">
    <h2>Call {{#if call_name}}{{call_name}}{{else}}{{call_email}}{{/if}}</h2>
    <p>You are chatting with {{#if call_name}}{{call_name}}{{else}}{{call_email}}{{/if}}...</p>
    <br/><br/><div style="width: 100%; height: 400px;" class="call-container">
      <main
        class="ciscospark-space"
        data-toggle="ciscospark-space"
        data-access-token="{{cisco_spark_access_token}}"
        data-to-person-email="{{call_email}}"
      />
    </div>
  </div>
  {{else}}
  <div class="page-pick">
    <h2>Call Our Health Professionals</h2>
    <p>Choose a health professional to begin your virtual consultation.</p>
    <br/><br/>
    <div class="row doc-container">
      <div class="col-sm-3 doc doc-template" style="display: none;">
        <a href="#" class="doc-link" data-email="" data-name="">
          <h5 style="text-align: center;">Name</h5>
        </a>
      </div>
    </div>
  </div>
  {{/if}}
  <br/><br/>
  <p class="text-center" style="font-size: 10px; text-align: center;">
    Doc Talk does not support any type of emergency calling.
    <br/>
    In the event of an emergency please call your local emergency telephone number.
  </p>
</div>
